<div 
  *ngIf="land" [style.background-color]="mortgaged ? '#F88' : 'white'"
  class="land-info-wrapper">
  <h2 [style.background-color]="land.color">{{land.name}}</h2>

  <div class="info-panel">

    <div *ngIf="mine">

      <div class="hotel-hoses-handler">
        <b>Houses</b>
        <button (click)="addHouse(-1)">-</button>
        <p>{{nHouses}}</p>
        <button (click)="addHouse(+1)">+</button>
      </div>
      
      <div class="hotel-hoses-handler">
        <b>Hotels</b>
        <button (click)="addHotel(-1)">-</button>
        <p>{{nHotels}}</p>
        <button (click)="addHotel(+1)">+</button>
      </div>
      
      <div class="btn-wrapper">
        <button (click)="Mortgage()">{{mortgaged ? 'Unmortage' : 'Mortage'}}</button>
        <button (click)="Sell()">Sell</button>
      </div>
      
      
    </div>
    
    
    
    <div *ngIf="!mine">
      
      <p>Value: {{land.value}} €</p>
      <p>Costo: {{CostOnLand().cost}} €</p>
      
      <div class="btn-wrapper">
        <button (click)="Pay()">Pay</button>
        <button (click)="Buy()">Buy</button>
      </div>

    </div>
    <div>
    </div>
  </div>
</div>