<div class="content-container">

  <div class="money-control-wrapper">
    <p class="balance-p">{{player.balance}} €</p>

    <input #moneyInput type="number" placeholder="Soldi da cambiare">
    <div class="money-option-wrapper">
      <button class="btn-remove" (click)="sendMoney(+moneyInput.value)">Remove</button>
      <button class="btn-add" (click)="sendMoney(-moneyInput.value)">Add</button>
      <select class="select-send" #bb>
        <option value="{{p.index}}" *ngFor="let p of players.ToArray()">{{p.name}}</option>
      </select>
      <button class="btn-send" (click)="sendMoney(+moneyInput.value, bb.value)">Send</button>
    </div>
  </div>
  <b>I miei terreni</b>
  <div class="land-wrapper">
    <app-land-info
      *ngFor="let l of _player.lands.ToArray()"
      [mortgaged]="l.mortgaged" [nHouses]="l.houses" [nHotels]="l.hotels" [player]="player" [land]="l.landProps"
      [mine]="true" class="app-land-info"></app-land-info>
  </div>

  <br>
  <b>Altri terreni</b>
  <div class="land-wrapper">
    <app-land-info
      *ngFor="let l of NotPlayerLands()"
      [player]="player" [land]="l" [mine]="false"
      class="app-land-info"></app-land-info>
  </div>
</div>